.DS_Store
git instructions.txt
function-dances/.DS_Store
identify-families/.DS_Store
identify-functions/.DS_Store
reflect-family/.DS_Store
rotate-family/.DS_Store
.DS_Store
function-dances/.DS_Store
identify-families/.DS_Store
identify-functions/.DS_Store
reflect-family/.DS_Store
rotate-family/.DS_Store
rotate-family/.DS_Store
function-dances/.DS_Store
identify-families/.DS_Store
identify-functions/.DS_Store
.DS_Store
identify-functions/.DS_Store
function-dances/.DS_Store
identify-families/.DS_Store
identify-functions/.DS_Store
identify-functions/.DS_Store
function-dances/.DS_Store
identify-families/.DS_Store
identify-functions/.DS_Store
reflect-family/.DS_Store
.DS_Store
